@inherits LayoutComponentBase
@inject IJSRuntime Js

  <!-- Sidebar -->
<NavMenu />
     <!-- Main Content -->
    <div class="mt-10">
     @Body
       </div>
 
@code {
    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            await Js.InvokeVoidAsync("window.initializeFlowbite");
        }
    }
}