@inject IJSRuntime JS

<div class="flex items-center shadow-md h-screen bg-dbe2f4 transition-all duration-300" style="width: @sidebarWidth">
    <div class="sidebar relative flex flex-col gap-5 h-screen bg-white p-2 rounded-2xl transition-all duration-300" style="width: 16rem;">
        <div class="menu-btn absolute right-0 top-[0.5%] w-7 h-7 rounded-full flex items-center justify-center cursor-pointer text-gray-600 border-2 border-gray-200 bg-white hover\:bg-primary-100"
             @onclick="ToggleSidebar">
            <i class="@menuButtonIcon transition-all duration-300"></i>
        </div>
        <div class="head flex gap-5 pb-4 border-b border-gray-200">
            <div class="user-img w-16 h-16 rounded-full overflow-hidden p-2">
                <img src="IcRoundAccountCircle.png" alt="User Image" class="w-full object-cover" />
            </div>
             @if (sidebarWidth == "12rem")
             {
            <div class="user-details">
                <p class="title text-xs font-medium text-gray-600 uppercase mb-2">Web Developer</p>
                <p class="name text-sm font-medium">John Doe</p>
            </div>
             }
        </div>
        <div class="nav flex-1">
            <div class="menu pb-5 mb-5 border-b-2 border-gray-200">
                <p class="title text-xs font-medium text-gray-600 uppercase mb-2">Main</p>
                <ul>
                    <li @onclick="() => ToggleSubMenu(0)" class="relative mb-1 cursor-pointer transition-all duration-300">
                        <a href="dashboard" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                            <svg class="w-8 h-8 fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="currentColor">
                                <path d="M11 17a1 1 0 001.447.894l4-2A1 1 0 0017 15V9.236a1 1 0 00-1.447-.894l-4 2a1 1 0 00-.553.894V17zM15.211 6.276a1 1 0 000-1.788l-4.764-2.382a1 1 0 00-.894 0L4.789 4.488a1 1 0 000 1.788l4.764 2.382a1 1 0 00.894 0l4.764-2.382zM4.447 8.342A1 1 0 003 9.236V15a1 1 0 00.553.894l4 2A1 1 0 009 17v-5.764a1 1 0 00-.553-.894l-4-2z" />
                            </svg>
                            @if (sidebarWidth == "12rem")
                            {
                                <span class="text">แดชบอร์ด</span>
                            }
                        </a>
                    </li>
                    <li @onclick="() => ToggleSubMenu(0)" class="relative mb-1 cursor-pointer transition-all duration-300">
                        <a href="orders" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                            </svg>
                            @if (sidebarWidth == "12rem")
                            {
                                <span class="text">เมนูสั่งซื้อ</span>
                            }
                        </a>
                    </li>
                    <li @onclick="() => ToggleSubMenu(1)" class="relative mb-1 cursor-pointer transition-all duration-300">
                        <a href="#" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                            <svg class="w-6 h-6 stroke-current"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M248 0L208 0c-26.5 0-48 21.5-48 48l0 112c0 35.3 28.7 64 64 64l128 0c35.3 0 64-28.7 64-64l0-112c0-26.5-21.5-48-48-48L328 0l0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80zM64 256c-35.3 0-64 28.7-64 64L0 448c0 35.3 28.7 64 64 64l160 0c35.3 0 64-28.7 64-64l0-128c0-35.3-28.7-64-64-64l-40 0 0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80-40 0zM352 512l160 0c35.3 0 64-28.7 64-64l0-128c0-35.3-28.7-64-64-64l-40 0 0 80c0 8.8-7.2 16-16 16l-48 0c-8.8 0-16-7.2-16-16l0-80-40 0c-15 0-28.8 5.1-39.7 13.8c4.9 10.4 7.7 22 7.7 34.2l0 160c0 12.2-2.8 23.8-7.7 34.2C323.2 506.9 337 512 352 512z" /></svg>
                            @if (sidebarWidth == "12rem")
                            {
                                <span class="text">จัดการสินค้า</span>
                                <i class="arrow ph-bold ph-caret-down"></i>
                            }
                        </a>
                        @if (sidebarWidth == "12rem" & isSubMenuOpen[1])
                        {
                            <ul class="sub-menu ml-5 pl-5 pt-1 border-l border-gray-200">
                                <li class="mb-1">
                                    <a href="products" class="flex items-center gap-2 text-xs p-2 transition-all duration-300">ข้อมูลสินค้า</a>
                                </li>
                                <li class="mb-1">
                                    <a href="categories" class="flex items-center gap-2 text-xs p-2 transition-all duration-300">หมวดหมู่สินค้า</a>
                                </li>
                            </ul>
                        }
                    </li>
                    <li @onclick="() => ToggleSubMenu(2)" class="relative mb-1 cursor-pointer transition-all duration-300">
                        <a href="#" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8v8m-4-5v5m-4-2v2m-2 4h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z" />
                            </svg>
                            @if (sidebarWidth == "12rem")
                            {
                                <span class="text">Posts</span>
                            }
                        </a>
                    </li>
                    <li @onclick="() => ToggleSubMenu(3)" class="relative mb-1 cursor-pointer transition-all duration-300">
                        <a href="#" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7v8a2 2 0 002 2h6M8 7V5a2 2 0 012-2h4.586a1 1 0 01.707.293l4.414 4.414a1 1 0 01.293.707V15a2 2 0 01-2 2h-2M8 7H6a2 2 0 00-2 2v10a2 2 0 002 2h8a2 2 0 002-2v-2" />
                            </svg>
                            @if (sidebarWidth == "12rem")
                            {
                                <span class="text">Schedules</span>
                            }
                        </a>
                    </li>
                    <li @onclick="() => ToggleSubMenu(4)" class="relative mb-1 cursor-pointer transition-all duration-300">
                        <a href="#" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                            </svg>
                            @if (sidebarWidth == "12rem")
                            {
                                <span class="text">Income</span>
                                <i class="arrow ph-bold ph-caret-down"></i>
                            }
                        </a>
                        @if (sidebarWidth == "12rem" & isSubMenuOpen[4])
                        {
                            <ul class="sub-menu ml-5 pl-5 pt-1 border-l border-gray-200">
                                <li class="mb-1">
                                    <a href="#" class="flex items-center gap-2 text-xs p-2 transition-all duration-300">Earnings</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#" class="flex items-center gap-2 text-xs p-2 transition-all duration-300">Funds</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#" class="flex items-center gap-2 text-xs p-2 transition-all duration-300">Declines</a>
                                </li>
                                <li class="mb-1">
                                    <a href="#" class="flex items-center gap-2 text-xs p-2 transition-all duration-300">Payouts</a>
                                </li>
                            </ul>
                        }
                    </li>
                </ul>
            </div>
            <div class="menu">
                <p class="title text-xs font-medium text-gray-600 uppercase mb-2">Settings</p>
                <ul>
                    <li @onclick="() => ToggleSubMenu(5)" class="relative mb-1 cursor-pointer transition-all duration-300">
                        <a href="#" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                            <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                            </svg>
                            @if (sidebarWidth == "12rem")
                            {
                                <span class="text">Settings</span>
                            }
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="menu">
            <p class="title text-xs font-medium text-gray-600 uppercase mb-2">Account</p>
            <ul>
                <li @onclick="() => ToggleSubMenu(6)" class="relative mb-1 cursor-pointer transition-all duration-300">
                    <a href="#" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                        <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6V4m0 2a2 2 0 100 4m0-4a2 2 0 110 4m-6 8a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4m6 6v10m6-2a2 2 0 100-4m0 4a2 2 0 110-4m0 4v2m0-6V4" />
                        </svg>
                        @if (sidebarWidth == "12rem")
                        {
                            <span class="text">Help</span>
                        }
                    </a>
                </li>
                <li @onclick="() => ToggleSubMenu(7)" class="relative mb-1 cursor-pointer transition-all duration-300">
                    <a href="#" class="flex items-center gap-2 text-sm font-medium text-gray-600 p-3 rounded-md transition-all duration-300">
                        <svg class="w-6 h-6 stroke-current" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="20" height="20" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                        </svg>
                        @if (sidebarWidth == "12rem")
                        {
                            <span class="text">Logout</span>
                        }
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@code {
    private bool[] isSubMenuOpen = new bool[8];
    private bool isSidebarOpen = true;
    private string menuButtonIcon = "icon-[ph--caret-left-bold]";

    private string sidebarWidth => isSidebarOpen ? "12rem" : "4.5rem";

    private async Task ToggleSidebar()
    {
        isSidebarOpen = !isSidebarOpen;
        var isActive = await JS.InvokeAsync<bool>("toggleSidebar");
        menuButtonIcon = isActive ? "icon-[ph--caret-left-bold]" : "icon-[ph--caret-right-bold]";
    }

    private void ToggleSubMenu(int index)
    {
        isSubMenuOpen[index] = !isSubMenuOpen[index];
       
    }
}
