@page "/categories/create"
@inject DrawerPos.Blazor.Services.CategoryService CategoryService
@inject NavigationManager Navigation
@using DrawerPos.Shared


<EditForm Model="category" OnValidSubmit="HandleValidSubmit" class="max-w-sm mx-auto">
        <DataAnnotationsValidator />
        <ValidationSummary />
    <div class="mb-5">
        <h3 class="font-bold text-gray-600">Create Category</h3>
        <label for="category" class="block mb-2 text-sm font-medium text-gray-500 dark:text-white">Category Name:</label>
        <InputText @bind-Value="category.CategoryName" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
        <p id="helper-text-explanation" class="mt-2 text-sm text-gray-500 dark:text-gray-400">We’ll never share your details. Read our <a href="#" class="font-medium text-blue-600 hover:underline dark:text-blue-500">Privacy Policy</a>.</p>
    </div>
     
    <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Submit</button>
</EditForm>
@code {
    private Category category = new Category();

    private async Task HandleValidSubmit()
    {
        await CategoryService.CreateCategory(category);
        Navigation.NavigateTo("/categories");
    }
}
