@page "/categories/edit/{id:int}"
@inject DrawerPos.Blazor.Services.CategoryService CategoryService
@inject NavigationManager Navigation
@using DrawerPos.Shared

<h3>Edit Category</h3>

@if (category == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="category" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div>
            <label>Category Name: </label>
            <InputText @bind-Value="category.CategoryName" />
        </div>
        <button type="submit">Save</button>
    </EditForm>
}

@code {
    private Category category;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        category = await CategoryService.GetCategory(id);
    }

    private async Task HandleValidSubmit()
    {
        await CategoryService.UpdateCategory(category);
        Navigation.NavigateTo("/categories");
    }
}
